.block {
    padding: 2rem;
    background-color: var(--element-background);
    border: 1px solid var(--element-border);
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    max-width: 50%;
    max-height: 21rem;
    border-radius: 16px;
    gap: 1rem;

    & .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        font-weight: 500;
    }

    @media (max-width: 960px) {
        max-width: 100%;
    }

    overflow: hidden;
}

@media (max-width: 600px) {
    .block {
        width: 100%;
        max-width: 100%;
    }
}